<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://arebaka.github.io/css/reset.min.css" />
  <style>
  {{> style}}
  </style>
</head>

<body class="{{theme}}">
  <main id="quote">
    <ul class="messages-list">
    {{#each messages}}
      <li class="message-item">
        {{#if this.showAvatar}}
          {{#if this.from.photo}}
            <img src="{{this.from.photo.url}}" alt="{{this.from.initials}}" class="message-from-avatar" />
          {{else}}
            <p class="message-from-initials" style="background-color: {{this.from.color}}">
              {{this.from.initials}}
            </p>
          {{/if}}
        {{/if}}
        <article class="message">
          <header>
            <p class="message-from-name" style="color: {{this.from.color}}" >
              {{this.from.name}}
              {{#if this.from.emojiStatus}}
                <img src="{{this.from.emojiStatus}}" alt="" class="emoji-status" />
              {{/if}}
            </p>
          </header>
          <main>
            {{#if this.replyMessage}}
            {{#with this.replyMessage}}
              <div class="message-reply" style="border-color: {{this.from.color}}">
                <p class="message-reply-from-name" style="color: {{this.from.color}}" >
                  {{this.from.name}}
                  {{#if this.from.emojiStatus}}
                    <img src="{{this.from.emojiStatus}}" alt="" class="emoji-status" />
                  {{/if}}
                </p>
                <p class="message-reply-text">{{this.text}}</p>
              </div>
            {{/with}}
            {{/if}}
            {{#if this.media}}
              <img src="{{this.media.url}}" alt="" class="message-media {{this.media.type}}" />
            {{/if}}
            <p class="message-text">{{{this.text}}}</p>
          </main>
        </article>
      </li>
    {{/each}}
    </ul>
    <p class="watermark"> @QuotLyBot </p>
</body>
<html>
