<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <style>
    #quote {
      width: {{width}};
      height: {{height}};
      transform: scale({{scale}});
    }
    #name {
      overflow: hidden;
      padding: 1em .5em;
      width: 100%;
      font-size: 22px;
      line-height: 1.2;
      font-weight: 600;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: {{nameColor}};
    }
    #text {
      overflow: hidden;
      padding: .5em;
      width: 100%;
      font-size: 24px;
      line-height: 1.2;
      color: #000;
    }
    .dark #text {
      color: #FFF;
    }
    #avatar {
      display: block;
      margin: 5px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  </style>
</head>
<body class="{{theme}}">
  <main id="quote">
    <img src="{{avatarURL}}" alt="" id="avatar" />
    <p id="name">
      {{name}}
      <span id="emoji-status">{{emojiStatus}}</span>
    </p>
    <p id="text">{{text}}</p>
  </main>
</body>
<html>
