<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://arebaka.github.io/css/reset.min.css" />
  <style>
    body {
      background: transparent;
    }
    #quote {
      position: absolute;
      max-width: {{width}}px;
      max-height: {{height}}px;
      transform: scale({{scale}});
      /* background: radial-gradient({{background.color1}}, {{background.color2}}), url("{{background.image.url}}") top left repeat; */
      background: none;
    }
    .messages-list {
      list-style: none;
      overflow: hidden;
    }
    .message-item {
      display: block;
      overflow: hidden;
      margin-bottom: 5px;
    }
    .message-item:last-child {
      margin-bottom: 0;
    }
    .message-from-avatar {
      display: block;
      float: left;
      margin-left: 5px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    .message {
      margin-left: 65px;
      padding: 14px;
      background: linear-gradient(45deg, {{background.color1}}, {{background.color2}});
      border-radius: 25px;
    }
    .message-from-name {
      overflow: hidden;
      width: 100%;
      font-family: 'Noto Sans', sans-serif;
      font-size: 22px;
      line-height: 1.2;
      font-weight: 600;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .message-from-name.red {
      color: #FC5C51
    }
    .message-from-name.orange {
      color: #FA790F
    }
    .message-from-name.purple {
      color: #895DD5
    }
    .message-from-name.green {
      color: #0FB297
    }
    .message-from-name.sea {
      color: #0FC9D6
    }
    .message-from-name.blue {
      color: #3CA5EC
    }
    .message-from-name.pink {
      color: #D54FAF
    }
    .dark .message-from-name.red {
      color: #FF8E86
    }
    .dark .message-from-name.orange {
      color: #FFA357
    }
    .dark .message-from-name.purple {
      color: #B18FFF
    }
    .dark .message-from-name.green {
      color: #4DD6BF
    }
    .dark .message-from-name.sea {
      color: #45E8D1
    }
    .dark .message-from-name.blue {
      color: #7AC9FF
    }
    .dark .message-from-name.pink {
      color: #FF7FD5
    }
    .message-text {
      overflow: hidden;
      width: 100%;
      font-family: 'Noto Sans', sans-serif;
      font-size: 24px;
      line-height: 1.2;
      color: #000;
    }
    .dark .message-text {
      color: #FFF;
    }
  </style>
</head>
<body class="{{theme}}">
  <main id="quote">
    <ul class="messages-list">
    {{#each messages}}
      <li class="message-item">
        <img src="{{this.from.avatar.url}}" alt="" class="message-from-avatar" />
        <article class="message">
          <header>
            <p class="message-from-name {{this.from.color}}" >
              {{this.from.name}}
              <span class="message-from-emoji_status"></span>
            </p>
          </header>
          <main>
            <p class="message-text">{{this.text}}</p>
          </main>
        </article>
      </li>
    {{/each}}
    </ul>
</body>
<html>
